{"auths":{"cloud.openshift.com":{"auth":"<base64-encoded-token>","email":"<email>"},"quay.io":{"auth":"<base64-encoded-token>","email":"<email>"},"registry.connect.redhat.com":{"auth":"<base64-encoded-token>","email":"<email>"},"registry.redhat.io":{"auth":"<base64-encoded-token>","email":"<email>"},"registry.ci.openshift.org":{"auth":"<base64-encoded-token>","email":"<email>"},"quay.io/rhceph-dev":{"auth":"<base64-encoded-token>","email":"<email>"},"brew.registry.redhat.io":{"auth":"<base64-encoded-token>","email":"<email>"},"quay.io:443":{"auth":"<base64-encoded-token>","email":"<email>"},"quay.io/openshift-cnv":{"auth":"<base64-encoded-token>"},"quay.io/openshift-virtualization/konflux-builds":{"auth":"<base64-encoded-token>","email":""}}}

